.body{
    background-color: hsl(0, 6%, 94%);
}
.header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -41px;
    font-size: 21px;
}

.type,
.main::first-letter{
    text-transform: capitalize;
}

.main::after{
   
    content: "";
    position: absolute;
    left: 80px;
    top: 3px;
    display: inline-block;
    border: solid #4641418a;
    border-width: 1px;
    height: 25px;
}
.type{
    margin-left: 24px;
    margin-top: 10px;
    color: rgb(75, 73, 73);
    font-size: 18px;
}
.type:hover{
    color: rgb(175, 101, 245);
}

.main{
    margin-top: 15px;
    text-decoration: underline;
    color: blueviolet;
}

.main,
.Sadhguru,
.type:hover{
    cursor: pointer;
}

.type,
.main {
   
    display: inline-block;
    height: 50px; ;
}

.photo{
    position: absolute;
    left: -20px;
     margin-top: -13px;
     margin-left: 50px;
     float: left;
     height: 545px;
     width: 400px;
     box-shadow: 1px 1px 20px rgb(68, 58, 58) ;
}
.paragraph_title{
    float: right;
    position: absolute;
    left: 460px;
    top: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    color: rgb(73, 73, 73);
    font-size: 27px;
    width: 500px;
}
.Sadhguru{
    position: absolute;
    top: 126px;
    left: 467px;
    text-transform: capitalize;
    text-decoration: underline;
    color: rgb(139, 139, 231);
    font-size: 22px;
    
}
.nav{
    margin-left:20px ;
}
.paragraph{
    position: absolute;
    left: 459px;
    top: 175px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: rgb(68 66 66);
    width: 600px;
}
.sec_2{
    position: absolute;
    left: 461px;
    top: 214px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 500px;
    font-size: 23px;
}
.star_icon{ 
    position: absolute;
    left: 468px;
    top: 194px;
}
.comment_icon{
    position: absolute;
    left: 649px;
    top: 195px;
}
.rating{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    left: 23px;
    top: -41px;
    font-size: 18px;
}
.one{
    color: rgb(187, 187, 83);
}
.two{
    color: rgb(82, 156, 156);

}
.cmnt{
    position: relative;
    left: 31px;
    top: -42px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: rgb(53, 53, 53);
}
.cmnt:hover{
    cursor: pointer;
    color: teal;
}